body {
    min-height: 100vh;
    color: darkcyan;
}


#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorMessage {
    color: orangered;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.formGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}